{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%  static 'css/home.css' %}">
    <title>Rodrigo Rodriguez | backend developer</title>
</head>

<body>
    <main class="main__home">
        <section class="intro">
            <header class="header">
                <div class="points">
                    <div class="point__red"></div>
                    <div class="point__yellow"></div>
                    <div class="point__green"></div>
                </div>
                <nav class="navigator">
                    <a href="#">blog</a>
                </nav>
            </header>
            <section class="intro__wrapper">
                <section class="intro__item_one">
                    <figure class="content__img_me">
                        <img src="{% static 'images/perfil.jpg' %}" alt="Rodrigo (Rodevp)" title="Rodrigo Rodriguez">
                    </figure>
                    <h3 class="me__name">
                        <span>R</span>odrigo - @Rodevp
                    </h3>
                    <h3 class="me__specialty">
                        Desarrollador Backend 👨🏻‍💻
                    </h3>
                </section>
                <section class="intro__item_two">
                    <div class="preview__shadow">
                        <div class="preview">
                            <h2 class="preview__title">
                                Paulo Freire
                            </h2>
                            <cite class="preview__text">
                                La educación no cambia al mundo. Cambia a las personas que van a cambiar el mundo.
                            </cite>
                        </div>
                    </div>
                </section>
            </section>
        </section>
        <section class="about__me">
            <h2 class="about__me_title">
                Sobre mi
            </h2>
            <p class="about__me_descrip">
                Soy un programador con experiencia en el lenguaje Python, me especializo en
                hacer aplicaciones con DJANGO junto con HTML, CSS, y JAVASCRIPT.

                📚 Soy una persona autodidacta por lo cual actualmente aprendiendo
                temas de python que me ayudarán a escribir mejor software.

                Tengo otros hoobiets como el boxeo, futbol entre otros.

            </p>
            <div class="about__me_social_network">
                <a href="https://www.linkedin.com/in/rodrigo-rodriguez-046712181/" class="network__item linkedin" target="_blank">Linkedin</a>
                <a href="https://github.com/Rodevp" class="network__item github" target="_blank">Github</a>
            </div>  
        </section>
    </main>
</body>

</html>