* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'lexend';
    src: url('../fonts/LexendDeca-Medium.ttf');
}

:root {
    --primary-color: #FFF0E5;
    --secondary-color: #FFFFFF;
    --border-color: #1d1520;
    --blue-color: #3A10E5;
    --font: 'lexend';
}

.main__home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
}

/*intro styles*/

.intro {
    width: 90%;
    margin-top: 30px;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    border: 1.5px solid var(--border-color);
}

.header {
    width: 100%;
    padding: 1em;
    font-family: var(--font);
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
}

.points, .navigator {
    width: 30%;
}

.navigator {
    text-align: center;
}

.navigator > a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--blue-color);
}

.points {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.point__red {
    background-color: #FC6058;
}

.point__yellow {
    background-color: #FEC02F;
}

.point__green {
    background-color: #2ACA3E;
}

.point__red, .point__yellow, .point__green {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
}

.intro__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
}

.intro__item_one {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__item_two {
    display: none;
}

.content__img_me {
    width: 80%;
    height: 200px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 1.5px solid var(--border-color);
}

.content__img_me > img {
    width: 100%;
    height: 100%;
}

.me__name {
    width: 90%;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    text-align: center;
    font-family: var(--font);
}

.me__name > span {
    display: inline-block;
    font-size: 1.5rem;
    animation: moveLetter 0.6s linear alternate infinite;
    color: var(--blue-color);
}

.me__specialty {
    width: 75%;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: var(--font);
}

/*about me*/

.about__me {
    width: 90%;
    margin-top: 30px;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    border: 1.5px solid var(--border-color);
}

.about__me_title {
    width: 60%;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-family: var(--font);
    text-align: center;
}

.about__me_descrip {
    width: 90%;
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: var(--font);
}

.about__me_social_network {
    width: 90%;
    padding: 1em;
    display: flex;
    justify-content: space-around;
}

.network__item {
    width: 45%;
    padding: 0.5em;
    font-size: 1rem;
    font-family: var(--font);
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: var(--secondary-color);
}

.linkedin {
    background-color: var(--blue-color);
}

.github {
    background-color: #010409;
}

/*projects*/
.title__project {
    width: 90%;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: var(--font);
    text-align: center;
    border: 1px solid var(--border-color);
    background-color: var(--secondary-color);
}

/*animation for letter */
@keyframes moveLetter {
    0% {
        transform: translateY(-15px) rotate(10deg);
    }
    100% {
        transform: translateY(0) rotate(10deg);
    }    
}

@media screen and (min-width: 420px) {
    .content__img_me {
        width: 65%;
    }
}

@media screen and (min-width: 520px) {
    .content__img_me {
        width: 52%;
    }   
}

@media screen and (min-width: 620px) {
    .content__img_me {
        width: 42%;
    }
    .point__red, .point__yellow, .point__green {
        width: 20px;
        height: 20px;
    }
    .points, .navigator {
        width: 25%;
    }
    .navigator > a {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 720px) {
    .content__img_me {
        width: 35%;
    }
    .points, .navigator {
        width: 20%;
    }
}

@media screen and (min-width: 920px) {
    .intro__wrapper {
        flex-direction: row;
    }
    
    .intro__item_two {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .preview__shadow {
        width: 80%;
        height: 200px;
        position: relative;
        background-color: #2b202f;
    }

    .preview {
        width: 90%;
        height: 90%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position:relative;
        top: 20px;
        left: 60px;
        z-index: 3;
        border: 1.5px solid #17a2b8;
        color: #ffffff;
        background-color: rgb(29, 21, 32, 0.8);
    }

    .preview__title, .preview__text {
        width: 100%;
        font-family: var(--font);
    }
    
    .preview__title {
        font-size: 1.2rem;
        padding: 0.5em;
        text-align: left;
    }

    .intro__item_one, .intro__item_two {
        width: 50%;
    }
    .content__img_me {
        width: 52%;
    }
    .points, .navigator {
        width: 15%;
    }
    .me__name {
        font-size: 1.6rem;
    }
    .me__name > span {
        font-size: 1.8rem;
    }
    .network__item {
        width: 35%;
    }
    .title__project {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1020px) {
    .content__img_me {
        width: 42%;
    }
    .points, .navigator {
        width: 10%;
    }
    .intro__item_two {
        justify-content: flex-start;
    }
    .preview__shadow {
        width: 50%;
    }
    .preview {
        width: 110%;
    }
    .about__me_social_network {
        width: 60%;
    }
    .network__item {
        width: 30%;
    }
}

@media screen and (min-width: 1080px) {
    .content__img_me {
        width: 38%;
    }
}
