* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'lexend';
    src: url('../fonts/LexendDeca-Medium.ttf');
}

:root {
    --primary-color: #FFF0E5;
    --secondary-color: #FFFFFF;
    --border-color: #1d1520;
    --blue-color: #3A10E5;
    --font: 'lexend';
}

.main__home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
}

/*intro styles*/

.intro {
    width: 90%;
    margin-top: 30px;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
}

.header {
    width: 100%;
    padding: 1em;
    font-family: var(--font);
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
}

.points, .navigator {
    width: 30%;
}

.navigator {
    text-align: center;
}

.navigator > a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--blue-color);
}

.points {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.point__red {
    background-color: #FC6058;
}

.point__yellow {
    background-color: #FEC02F;
}

.point__green {
    background-color: #2ACA3E;
}

.point__red, .point__yellow, .point__green {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
}

.intro__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
}

.intro__item_one {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__img_me {
    width: 80%;
    height: 200px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 1.5px solid var(--border-color);
}

.me__name {
    width: 90%;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    text-align: center;
    font-family: var(--font);
}

.me__name > span {
    display: inline-block;
    font-size: 1.5rem;
    animation: moveLetter 0.6s linear alternate infinite;
    color: var(--blue-color);
}

.me__specialty {
    width: 75%;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: var(--font);
}


/*animation for letter */
@keyframes moveLetter {
    0% {
        transform: translateY(-15px) rotate(10deg);
    }
    100% {
        transform: translateY(0) rotate(10deg);
    }    
}


